.icon-48-joomlurgyevents {
      background-image: url(../images/l_joomlurgyevents.png);
      padding-left:60px!important;
}

.icon-48-joomlurgyevent {
      background-image: url(../images/l_joomlurgyevents.png);
      padding-left:60px!important;
}

