/* 
    Document   : joomlurgy
    Created on : 14 Jun, 2013, 2:49:48 PM
    Author     : nidhi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.sectiontableheader {
background: #333;
border: 1px solid #ccc;
color: #fff;
padding: 5px;
}

.sectiontableentry, .sectiontableentry0, .sectiontableentry1, .sectiontableentry2 {
background: url(images/dot2.gif) repeat-x bottom;
padding: 5px 5px 6px;
}

tr.sectiontableentry1{
    border:0px !important;
}
.sectiontableentry1 td {
    background: url(images/dot2.gif) repeat-x bottom;
    border:0px !important;
    padding: 5px;
}


